.cost {
  color: $text-white;
  background-color: $text-pink;
  background-image: url("../img/rocket-background-mobile.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 320px 650px;
}

.cost__title {
  font-size: $body-font-size + 8px;
  line-height: $body-line-height + 10px;
  font-weight: $font-bold;
}

.cost__description {
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-weight: $font-bold;

  &--price {
    font-size: $body-font-size + 8px;
    line-height: $body-line-height + 8px;
    font-weight: $font-thin;
  }
}

.cost__description--price span {
  font-size: $body-font-size + 44px;
  line-height: $body-line-height + 52px;
}

.cost__link {
  @include link;
  display: inline-block;
  vertical-align: top;
  font-size: $body-font-size + 2px;
  line-height: $body-line-height;
  font-weight: $font-bold;
  width: 288px;
  height: 57px;
  border-radius: 28px;
  background-color: $text-white;
  color: $text-pink;
  box-shadow: 
    -14px 0 35px 3px rgba($text-white, 0.48),
    14px 0 35px 3px rgba($text-white, 0.48);
}

