.elon-musk__title {
  font-size: $body-font-size + 20px;
  line-height: $body-line-height + 22px;
  font-weight: $font-bold;
  color: $text-pink;
}

.elon-musk__subtitle {
  font-size: $body-font-size + 8px;
  line-height: $body-line-height + 12px;
  font-weight: $font-bold;
}

.elon-musk__discription {
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $text-discription;
}
