.facts {
  background-color: #fff5f8;
}

.facts__title {
  font-size: $body-font-size + 20px;
  line-height: $body-line-height + 28px;
  font-weight: $font-bold;
  color: $text-pink;
}

.facts__description {
  font-size: $body-font-size - 3px;
  line-height: $body-line-height - 6px;
  color: $text-description;
}
