.main-header {
  background-color: $text-pink;
  background-image: url("../img/background-header-mobile.jpg");
  background-position: 0 0;
  background-repeat: repeat-y;
  background-size: 100% 579px;
  color: $text-white;
}

.main-header__wrapper {
  @include flex(flex, column);
  align-items: center;
}

.main-header__title {
  @include flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 214px;
  font-size: $body-font-size - 3px;
  line-height: $body-line-height - 1px;
  font-weight: $font-thin;
  text-transform: uppercase;
  letter-spacing: 0.25px;

  &--panteon {
    width: 70px;
    font-weight: $font-regular;
  }

  &--mars {
    font-size: $body-font-size + 54px;
    line-height: $body-line-height + 56px;
    font-weight: $font-black;
  }
}

.main-header__video {
  box-shadow: 0 25px 38px 0 rgba(0, 0, 0, 0.48);
}

.main-header__description {
  display: block;
  font-size: $body-font-size - 2px;
  width: 122px;
  margin-left: auto;
  margin-right: 38px;
  color: #ffcfdf;
  text-align: left;
}

.main-header__link {
  width: 59px;
  height: 59px;
  border: none;
  border-radius: 50%;
  background-color: rgb(225, 36, 87);
  opacity: 0.502;
}

