.main__inner-wrapper {
  color: $text-white;
  background-color: $text-pink;
  background-image: url("../img/background-footer-mobile.jpg");
  background-position: 0 0;
  background-repeat: repeat-y;
  background-size: 100% 1537px;
}
