@mixin flex($flex: flex, $flex-direction: row) {
  display: $flex;
  flex-direction: $flex-direction;
}

@mixin link($underline: none, $link-color: white) {
  text-decoration: $underline;
  color: $link-color;
}

@mixin background($position: 0 0, $repeat: no-repeat) {
  background-position: $position;
  background-repeat: $repeat;
}

@mixin pseudo($content: "", $position: absolute) {
  content: $content;
  position: $position;
}
