// font-family
$proxima: "Proxima Nova", "Arial", sans-serif;

// color
$text-description-color: #4c4c4c;
$main-nav-color: #8c165d;
$introduction-bg: #e12457;
$introduction-link-bg: #b21d5e;

$white: #ffffff;
$black: #000000;

// @media
$media-md: 1440px;
$media-dt: 1024px;
$media-tb: 768px;
$media-s: 360px;
$media-m: 320px;

// background-retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
